extends layout

block content
  div(ng-controller='AppCtrl')
    h1= title
    p Welcome to #{title}
      a(href='home') home
      a(href='admin') admin
      button(ng-click='logout()') logout
    div(ng-view)
    
    

  script(src='javascripts/lib/angular.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')
